html {
    background-color: rgb(121, 16, 64);
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
} 

h2 {
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h3{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 159, 144);
    border: white dotted;
}

body {
    background-color: rgb(213, 121, 163);
    border: rgb(65, 9, 0) dotted;
    border-style: dotted;
}

#form {
    max-width: 350px;
    padding: 15px;
    margin: auto;
    background-color: rgb(106, 188, 131);
}

#canvas {
    background-color: rgb(106, 188, 131);
    padding: 30px;
    margin-left: 450px;
    border: dotted;
}

#drawGraph {
    align-items: center;
}

#canvas2 {
    background-color: rgb(106, 188, 131);
    padding: 30px;
    margin-left: 450px;
    border: dotted;
}

#drawGraph2 {
    align-items: center;
}

#canvas3 {
    background-color: rgb(106, 188, 131);
    padding: 30px;
    margin-left: 380px;
    border: dotted;
}

#drawGraph3 {
    align-items: center;
}

#image {
    border: dotted;
}
