extends layout 

block content 
    title
    p 
        img(width=200 src='https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.newgrounds.com%2Fart%2Fview%2Feltrainanim%2Frevvin-up-chainsaw-man&psig=AOvVaw3OvZDlNqFgLIXknMSotJQg&ust=1629473755901000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKD67Pi0vfICFQAAAAAdAAAAABAD')
        a(href='/create') Create New User