extends layout 

block content 
    title
    p 
        img(width=300 src='https://images-na.ssl-images-amazon.com/images/I/81s8xJUzWGL.jpg')
    p
        a(href='/create') Create New User
    p 
        a(href='/login') Login